*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 130px;
}

.logo{
    background-image: url("amazon-dark-logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
    margin: 1px;
    padding: 1px 8px 0px 6px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.address1{
    color: #cccccc;
    font-size: 0.5 rem;
    margin-left: 15px;
}

.address2{
    font-size: 1 rem;
    margin-left: 3px;
}
.address-icon{
    display: flex;
    align-items: centre;
}

.navsearch{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: pink;
    height: 40px;
    width: 900px;
    border-radius: 4px;
}
.searchselect{
    background-color: #f3f3f3;
    width: 50px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    color: #0f1111;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.inputsearch{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
}
.search-icon{
    width: 45px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(216, 134, 11);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.navsearch:hover{
    border: 2px solid rgb(227, 111, 17);
}

.navlang{
    display: flex;
    align-items: baseline;
}
.lang-icon{
    font-size: 1.5rem;
}
.lang2{
    font-size: 14px;
    font-weight: 500;
}

.nav1{
    font-size: 12px;
    color: #ffffff;
}
.nav2{
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}

.navcart{
    display: flex;
    align-items: baseline;
}
.cart-icon{
    font-size: 2rem;
}
.cart2{
    font-size: 14px;
    color: #ffffff;
}

.panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #232727;
    color: #ffffff;
    height: 40px;
    font-size: 14px;
}
.panel-all{
    display: flex;
    width: 60px;
}
.all-icon{
    height: 17px;
    width: 14px;
}

.panelops p{
    display: inline;
    margin-left: 25px;
}
.panelops{
    width: 80%;
}
.paneldeals{
    font-size: 16px;
    font-weight: 700;
}

/*hero section*/

.hero{
    height: auto;
    background-color: #e3e3e6;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.heroimage{
    background-image: linear-gradient(transparent, #e3e6e6), url("hero1.png");
    height: 300px;
    background-size: cover;
}

.heromsg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f6;
    color: #0f1111;
    font-size: 14px;
    height: 40px;
    width: 97%;
    position: absolute;
    top: 350px;
    margin-left: 20px;
    margin-right: 20px;
}
.heromsg a{
    color: rgb(12, 85, 168);
}
.box-first{
    height: 420px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}
.boximage{
    width: 90%;
    height: 300px;
    margin-left: 20px;
    background-size: cover;
}
.box-second{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    margin: 10px 20px 10px 20px;
    width: 100%;
}
.boximagetype2{
    height: 200px;
    width: 90%;
    margin-left: 20px;
    background-size: cover;
}
h2{
    margin-left: 20px;
}
.see{
    margin-left: 5%;
    color: rgb(12, 85, 168);
}
.herosignin{
    height: 165px;
    width: 100%;
    display: flex;
    align-items: end;
    background-color: #ffffff;
    margin-top: 10px;
}
.heroborder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.25px solid rgb(59, 41, 41);
    border-radius: 1%;
    height: 125px;
    width: 100%;
    margin-bottom: 20px;
}
.signin1{
    font-size: 13px;
}
.signin2{
    font-size: 11px;
}
.signinbutton{
    background-color: rgb(236, 232, 14);
    font-size: 12px;
    font-weight: 300;
    height: 28px;
    width: 230px;
    border: none;
}
.foot-panel1{
    background-color: rgba(35, 47, 62,0.75);
    color: #ffffff;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.foot-panel2{
    display: flex;
    justify-content: space-evenly;
    background-color: #232f3e;
    height: 400px;
}
.heading{
    font-size: 16px;
    color: #ffffff;
}
ul{
    margin-top: 30px;
    font-size: 14px;
    color: #dddddd;
    list-style: none;
}
li{
    margin-top: 15px;
}
.panelbox{
    margin-top: 50px;
}
.foot-panel3{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232f3e;
    border-top: 1px solid white;
}

.panelimage{
    width: 115px;
    height: 42px;
    background-image: url("amazon-dark-logo.png");
    background-size: cover;
}

.panbut{
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    background-color: #232f3e;
    color: #cccccc;
    margin-left: 10px;
    height: 42px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc;
}
.foot-panel4{
    height: 300px;
    background-color: #131a22;
}
.sizebox1{
    height:150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sizebox2{
    height:150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.panel4box{
    width: 100px;
    height: 200px;
    margin-top: 120px;
    
}
.panel4boxhead{
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
}
.panel4boxcontent{
    font-size: 12px;
    color: #999999;
}
.foot-panel5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131a22;
    color: #cccccc;
    font-size: 12px;
    height: 30px;
}
.panel5{
    margin-left:20px;
}